[submodule "ankushes-blog/themes/hugo-theme-console"]
	path = ankushes-blog/themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "ankushes-blog/public"]
	path = ankushes-blog/public
	url = git@github.com:ankushKun/ankushKun.github.io.git
	branch = main
[submodule "ankushes-blog/themes/terminal"]
	path = ankushes-blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "ankushes-blog/themes/edidor"]
	path = ankushes-blog/themes/edidor
	url = https://github.com/sfengyuan/edidor
